.nav {
  padding-top: 15px;
  padding-left: 15px;
  padding-bottom: 20px;
  border-bottom: 2px solid black;
}

.header__nav_links_active {
  margin-right: 25px;
  color: orangered;
}

.header__nav_links_inactive {
  margin-right: 25px;
  color: black;
}

.header__nav_links_inactive:hover {
  color: orangered;
}
